body {
  justify-content: center;
  align-content: center;
  display: flex;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background: rgb(223, 212, 212);
  align-items: center;
  font-family: "Calibri";
}
header {
  background: #2a6bd3;
}
#principal {
  margin: 0;
  padding: auto;
  height: 100%;
  width: 100%;
  padding: 20px;
}

/* Ventana modal Cerrar Seccion */
.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Calibri";
}
#btn-modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}
.csm {
  height: 6px;
  margin-left: 7%;
  font-size: 30px;
}
.botonuno,
.botondos {
  background: rgb(53, 168, 68);
  border-radius: 4px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  margin-left: 33px;
  font-size: 15px;
  box-shadow: none;
}
.botondos:hover {
  background-color: darkgreen;
}
.botonuno:hover {
  background-color: darkgreen;
}

.bts {
  padding: 20px;
}
.contenedor {
  width: 400px;
  height: 200px;
  margin: auto;
  background: rgb(255, 255, 255);
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
  border-radius: 4px;
}
.contenedor #vmodal {
  padding: 10px;
  background: #467fdb;
  color: #fff;
}
.contenedor label {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  /* X */
}
#btn-modal {
  display: none;
}
.lbl-modal {
  background: rgb(53, 168, 68);
  padding: 10px 10px;
  margin-top: -40px;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  /*Boton cerrar seccion*/
  float: right;
  font-size: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.lbl-modal:hover {
  background-color: rgb(35, 136, 48);
}
.contenido {
  padding: 15px;
}
/* Nav */
i{
    color: #4286f4;
    font-size: 25px;
}
a{
    color: #4286f4;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
    text-decoration-line: none;
}
nav{
    background: #fff;
    width: 300px;
    height: 592px;
    float: left;
}
ul:hover{
    background-color: #9dbcec;
}
ul{
    background: #e5e8ee;
    padding: 15px;
    /*border: rgb(163, 161, 161) 1px solid;*/
    border-radius: 4px;
}
.ventanauno {
    margin-top: -40%;
}
#Ingresos{
    background: #4286f4;
    padding: 10px;
    border-radius:4px
}

.ingresos{
    font-size: 20px;
    color:#fff;
}
section{
    margin-top: -570px;
    margin-left: 610px;
    margin-right: 300px ;
    border-radius:4px ;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

